<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
<script type='text/javascript'>
   var featherEditor = new Aviary.Feather({
       apiKey: '0TeS2jZ1I021Z30GPXEEgg',
       apiVersion: 2,
       tools: 'all',
       appendTo: '',
       onSave: function(imageID, newURL) {
           var img = document.getElementById(imageID);
           img.src = newURL;
       },
       onError: function(errorObj) {
           alert(errorObj.message);
       }
   });
   function launchEditor(id, src) {
       featherEditor.launch({
           image: id,
           url: src
       });
      return false;
   }
</script>

<div id='injection_site'></div>

<img id='aviary_image' src=''/>

<!-- Add an edit button, passing the HTML id of the image and the public URL of the image -->
<p><input type='image' src='http://images.aviary.com/images/edit-photo.png' value='Edit Image' onclick="return launchEditor('aviary_image', ' ');" /></p>