<div class="panel" style="opacity: 0.75; padding: 35px">
	<div class="row">
		<img id="demo_page_logo" src="" style="display: none; display: block; margin-left: auto; margin-right: auto" />
		<h1><span id="demo_page_title" style="display:block; text-align:center">Example Title</span></h1>
	</div>
	<div class="row">
		<h6><span id="demo_page_subtitle" style="display:block; text-align:center">Example Subtitle</span></h6>
	</div>

	<h5>Featured Press</h5>

	<div id="article1" class="row" style="display:none">
		<div class="three columns">
			<img id="press_articles_image" src='' style="max-height: 100px"/>
		</div>
		<div class="nine columns">
			<p id="demo_articles_title">Title Holder</p>
			<p id="demo_articles_description">Description Holder</p>
			<p id="demo_articles_analytics" style="display: none"><table border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
<tbody><tr>
<td><div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.bbc.co.uk/news/technology-21297024" data-send="false" data-layout="button_count" fb-xfbml-state="rendered"><span style="height: 20px; width: 84px;"><iframe id="f1db4bd5c8" name="f1cf6657f4" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 84px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=270058479685802&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D18%23cb%3Df14928fcfc%26origin%3Dhttp%253A%252F%252Fhack.rapidrise.com%252Ff99a76594%26domain%3Dhack.rapidrise.com%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Ftechnology-21297024&amp;node_type=link&amp;width=90&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"></iframe></span></div></td>
<td style="padding-left:20px;"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1359857315763&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fhack.rapidrise.com%2Fbrowse%2Fsony%2Findex.htm&amp;size=m&amp;text=BCC%20News&amp;url=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Ftechnology-21297024" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe></td>
<td><div style="height: 20px; width: 90px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial;" id="___plusone_0"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1359857316055" name="I0_1359857316055" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;annotation=bubble&amp;width=300&amp;hl=en-US&amp;origin=http%3A%2F%2Fhack.rapidrise.com&amp;url=http%3A%2F%2Fsss%2F&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.OdHYDgvBnac.O%2Fm%3D__features__%2Fam%3DQQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTM_7RQ7OQeTq8mj4MdArhj4w7GWvQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Conload&amp;id=I0_1359857316055&amp;parent=http%3A%2F%2Fhack.rapidrise.com" allowtransparency="true" data-gapiattached="true" title="+1"></iframe></div></td>
<td><span style="line-height: 1; vertical-align: baseline; display: inline-block; text-align: center;" class="IN-widget"><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1359857315986_0"><a id="li_ui_li_gen_1359857315986_0-link" href="javascript:void(0);"><span id="li_ui_li_gen_1359857315986_0-logo">in</span><span id="li_ui_li_gen_1359857315986_0-title"><span id="li_ui_li_gen_1359857315986_0-mark"></span><span id="li_ui_li_gen_1359857315986_0-title-text">Share</span></span></a></span></span><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1359857315995_1-container" class="IN-right"><span id="li_ui_li_gen_1359857315995_1" class="IN-right"><span id="li_ui_li_gen_1359857315995_1-inner" class="IN-right"><span id="li_ui_li_gen_1359857315995_1-content" class="IN-right">18</span></span></span></span></span></span><script type="IN/Share+init" data-url="http://www.bbc.co.uk/news/technology-21297024" data-counter="right"></script></td>
</tr>
</tbody></table></p>
			<hr>
		</div>
	</div>

	<div id="article2" class="row" style="display:none">
		<div class="three columns">
			<img id="press_articles_image_a" src='' style="max-height: 100px"/>
		</div>
		<div class="nine columns">
			<p id="demo_articles_title_a">Title Holder</p>
			<p id="demo_articles_description_a">Description Holder</p>
			<p id="demo_articles_analytics_a" style="display: none"><table border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
<tbody><tr>
<td><div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.bbc.co.uk/news/technology-21297024" data-send="false" data-layout="button_count" fb-xfbml-state="rendered"><span style="height: 20px; width: 84px;"><iframe id="f1db4bd5c8" name="f1cf6657f4" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 84px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=270058479685802&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D18%23cb%3Df14928fcfc%26origin%3Dhttp%253A%252F%252Fhack.rapidrise.com%252Ff99a76594%26domain%3Dhack.rapidrise.com%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Ftechnology-21297024&amp;node_type=link&amp;width=90&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"></iframe></span></div></td>
<td style="padding-left:20px;"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1359857315763&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fhack.rapidrise.com%2Fbrowse%2Fsony%2Findex.htm&amp;size=m&amp;text=BCC%20News&amp;url=http://www.esquire.com/blogs/mens-fashion/parke-new-york-solomon-liou-profile-011713" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe></td>
<td><div style="height: 20px; width: 90px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial;" id="___plusone_0"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1359857316055" name="I0_1359857316055" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;annotation=bubble&amp;width=300&amp;hl=en-US&amp;origin=http%3A%2F%2Fhack.rapidrise.com&amp;url=http%3A%2F%2Fsss%2F&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.OdHYDgvBnac.O%2Fm%3D__features__%2Fam%3DQQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTM_7RQ7OQeTq8mj4MdArhj4w7GWvQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Conload&amp;id=I0_1359857316055&amp;parent=http%3A%2F%2Fhack.rapidrise.com" allowtransparency="true" data-gapiattached="true" title="+1"></iframe></div></td>
<td><span style="line-height: 1; vertical-align: baseline; display: inline-block; text-align: center;" class="IN-widget"><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1359857315986_0"><a id="li_ui_li_gen_1359857315986_0-link" href="javascript:void(0);"><span id="li_ui_li_gen_1359857315986_0-logo">in</span><span id="li_ui_li_gen_1359857315986_0-title"><span id="li_ui_li_gen_1359857315986_0-mark"></span><span id="li_ui_li_gen_1359857315986_0-title-text">Share</span></span></a></span></span><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1359857315995_1-container" class="IN-right"><span id="li_ui_li_gen_1359857315995_1" class="IN-right"><span id="li_ui_li_gen_1359857315995_1-inner" class="IN-right"><span id="li_ui_li_gen_1359857315995_1-content" class="IN-right">18</span></span></span></span></span></span><script type="IN/Share+init" data-url="http://www.bbc.co.uk/news/technology-21297024" data-counter="right"></script></td>
</tr>
</tbody></table></p>
			<hr>
		</div>
	</div>

	<div id="article3" class="row" style="display:none">
		<div class="three columns">
			<img id="press_articles_image_b" src='' style="max-height: 100px"/>
		</div>
		<div class="nine columns">
			<p id="demo_articles_title_b">Title Holder</p>
			<p id="demo_articles_description_b">Description Holder</p>
			<p id="demo_articles_analytics_b" style="display: none"><table border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
<tbody><tr>
<td><div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.bbc.co.uk/news/technology-21297024" data-send="false" data-layout="button_count" fb-xfbml-state="rendered"><span style="height: 20px; width: 84px;"><iframe id="f1db4bd5c8" name="f1cf6657f4" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 84px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=270058479685802&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D18%23cb%3Df14928fcfc%26origin%3Dhttp%253A%252F%252Fhack.rapidrise.com%252Ff99a76594%26domain%3Dhack.rapidrise.com%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Ftechnology-21297024&amp;node_type=link&amp;width=90&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"></iframe></span></div></td>
<td style="padding-left:20px;"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1359857315763&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fhack.rapidrise.com%2Fbrowse%2Fsony%2Findex.htm&amp;size=m&amp;text=BCC%20News&amp;url=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Ftechnology-21297024" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe></td>
<td><div style="height: 20px; width: 90px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial;" id="___plusone_0"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1359857316055" name="I0_1359857316055" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;annotation=bubble&amp;width=300&amp;hl=en-US&amp;origin=http%3A%2F%2Fhack.rapidrise.com&amp;url=http://www.refinery29.com/parke-denim" allowtransparency="true" data-gapiattached="true" title="+1"></iframe></div></td>
<td><span style="line-height: 1; vertical-align: baseline; display: inline-block; text-align: center;" class="IN-widget"><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1359857315986_0"><a id="li_ui_li_gen_1359857315986_0-link" href="javascript:void(0);"><span id="li_ui_li_gen_1359857315986_0-logo">in</span><span id="li_ui_li_gen_1359857315986_0-title"><span id="li_ui_li_gen_1359857315986_0-mark"></span><span id="li_ui_li_gen_1359857315986_0-title-text">Share</span></span></a></span></span><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1359857315995_1-container" class="IN-right"><span id="li_ui_li_gen_1359857315995_1" class="IN-right"><span id="li_ui_li_gen_1359857315995_1-inner" class="IN-right"><span id="li_ui_li_gen_1359857315995_1-content" class="IN-right">18</span></span></span></span></span></span><script type="IN/Share+init" data-url="http://www.kickstarter.com/projects/solomonliou/parke-technologically-advanced-jeans-made-in-nyc?ref=live" data-counter="right"></script></td>
</tr>
</tbody></table></p>
			<hr>
		</div>
	</div>

	<h5>Follow Us Online</h5>

	<div class="two columns">
		<a id="demo_twitter_icon" href='#'><img src='http://kickstarterfuel.com/Images/Twitter_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_facebook_icon" href='#'><img src='http://kickstarterfuel.com/Images/Facebook_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_pinterest_icon" href='#'><img src='http://kickstarterfuel.com/Images/Pinterest_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_instagram_icon" href='#'><img src='http://kickstarterfuel.com/Images/Instagram_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_foursquare_icon" href='#'><img src='http://kickstarterfuel.com/Images/Foursquare_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_swaag_icon" href='#'><img src='http://kickstarterfuel.com/Images/Swaag_icon.png' /></a>
	</div>
</div>