<div class="panel" style="opacity: 0.75; padding: 35px">
	<div class="row">
		<img id="demo_page_logo" src="" style="display: none; display: block; margin-left: auto; margin-right: auto" />
		<h1><span id="demo_page_title" style="display:block; text-align:center">Example Title</span></h1>
	</div>
	<div class="row">
		<h6><span id="demo_page_subtitle" style="display:block; text-align:center">Example Subtitle</span></h6>
	</div>

	<h5>Featured Press</h5>

	<div id="article1" class="row" style="display:none">
		<div class="three columns">
			<img id="press_articles_image" src='' style="max-height: 100px"/>
		</div>
		<div class="nine columns">
			<p id="demo_articles_title">TitleTitleTitleTitleTitleTitleTitleTitleTitle</p>
			<p id="demo_articles_description">Short DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort Description</p>
			<p id="demo_articles_analytics" style="display: none">Article shares analytics</p>
			<hr>
		</div>
	</div>

	<div id="article2" class="row" style="display:none">
		<div class="three columns">
			<img id="press_articles_image_a" src='' style="max-height: 100px"/>
		</div>
		<div class="nine columns">
			<p id="demo_articles_title_a">TitleTitleTitleTitleTitleTitleTitleTitleTitle</p>
			<p id="demo_articles_description_a">Short DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort Description</p>
			<p id="demo_articles_analytics_a" style="display: none">Article shares analytics</p>
			<hr>
		</div>
	</div>

	<div id="article3" class="row" style="display:none">
		<div class="three columns">
			<img id="press_articles_image_b" src='' style="max-height: 100px"/>
		</div>
		<div class="nine columns">
			<p id="demo_articles_title_b">TitleTitleTitleTitleTitleTitleTitleTitleTitle</p>
			<p id="demo_articles_description_b">Short DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort DescriptionShort Description</p>
			<p id="demo_articles_analytics_b" style="display: none">Article shares analytics</p>
			<hr>
		</div>
	</div>

	<hr>

	<h5>Follow Us Online</h5>

	<div class="two columns">
		<a id="demo_twitter_icon" href='#'><img src='http://kickstarterfuel.com/Images/Twitter_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_facebook_icon" href='#'><img src='http://kickstarterfuel.com/Images/Facebook_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_pinterest_icon" href='#'><img src='http://kickstarterfuel.com/Images/Pinterest_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_instagram_icon" href='#'><img src='http://kickstarterfuel.com/Images/Instagram_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_foursquare_icon" href='#'><img src='http://kickstarterfuel.com/Images/Foursquare_icon.png' /></a>
	</div>

	<div class="two columns">
		<a id="demo_swaag_icon" href='#'><img src='http://kickstarterfuel.com/Images/Swaag_icon.png' /></a>
	</div>
</div>