<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Blah</a></li>
  <li class="current"><a href="#">Current Page Title</a></li>
</ul>

<ul class="breadcrumbs">
  <li><span>Home</span></li>
  <li><span>Features</span></li>
  <li><span>Lol</span></li>
  <li class="current"><span>Current Page Title</span></li>
</ul>
